<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Town of Hempstead Ocean Rescue</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/styles.css" %}"> <!-- Link to your CSS file -->
</head>
<body>
<h1>Town of Hempstead Ocean Rescue</h1>
   <div class="container">
		<h1 class="table"><a href="google.com">test</a></h1>
		<div class="image_container">
		<img src="{% static "images/ImageOfColeRinn.jpg" %}" alt="ImageOfColeRinn" class="background_image">
        </div>
    </div>
</body>
</html>
