<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<head>
<TITLE>Lite-Trol Service Co. Inc. service, repair and modification to architectural, theatrical and television lighting control systems since 1959.</TITLE>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
   <META NAME="Author" CONTENT="Lake Effects Web Design by Ellen Chesler">
   <META NAME="description" CONTENT="Lite-Trol Service Co. Inc. service, repair and modification to architectural, theatrical and television lighting control systems since 1959.">
	<META NAME="keywords" CONTENT="Lite-Trol Service Co. Inc. service repair and modifications to lighting control systemsservice, repair and modification to architectural, theatrical and television lighting control systems since 1959.">

<link rel="stylesheet" type="text/css" href="litetrolcss.css" />

</HEAD>

<BODY bgcolor="#ffffff">

<!-- border table start -->
&nbsp;
<div align="center">
<table width="960" bgcolor="#ffffff" border="0" bordercolor="#000000" cellpadding="2" cellspacing="0">
<tr>
<td valign="top">		


<!-- Inside table start -->

<table width="960" bgcolor="#EFECDF" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top" bgcolor="#dddddd" colspan="2">	
		<img src="images/toplite2.jpg" width="960" height="129" border="0" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" background="images/buttonbg.gif" height="30" bgcolor="#0000B8">
				<div id="midnavcontainer">
					<ul id="navlist">
						<li><a href="index.htm">Home</a></li>
						<li><a href="about.htm">About Us</a></li>
						<li><a href="services.htm">Services</a></li>
						<li><a href="technical.htm">Technical</a></li>
						<li><a href="contact.htm">Contact Us</a></li>
					</ul>
				</div>
		
		</td>
	</tr>
	<tr>
		<td valign="top" bgcolor="#dddddd" colspan="2">	
		<img src="images/buttonunderbg2.gif" width="960" height="36" border="0" alt=""></td>
	</tr>
	<tr>
	
	<!-- ======== content section start ============= ---->
		<td valign="top" colspan="2" background="images/midbg.gif" class="main" align="center" bgcolor="#F8F8EC">
	
			<!-- Inner home table start -->
				<table width="900" border="0" bgcolor="#ffffff" cellspacing="5" cellpadding="0" align="center" class="hometabletext">
					<tr>
						<td valign="top" background="images/bluebg.jpg">
							<blockquote>
							&nbsp;
							<h1>Lite-Trol Service Co.</h1>
							<p align="justify">Lite-Trol Service Co., Inc. has been providing service, repair and modification to architectural, theatrical and television lighting control systems since 1959.</p>
							</blockquote>
						</td>
						<td valign="top" bgcolor="#eeeeee">
							<img src="images/homebuilding.jpg" width="525" height="224" border="0" alt="Lite-Trol Service Co. Hicksville facilities">
						</td>
					</tr>
				</table>
			<!-- Inner home table end -->
	
		</td>
	<!-- ======== content section end ============= ---->
	</tr>
	<tr>
	
		<td valign="top" bgcolor="#dddddd" colspan="2">	
		<img src="images/midbgbottom3.gif" width="960" height="71" border="0" alt=""></td>
	</tr>
	<tr>
	
	<!-- ======== bottom content section start ============= ---->
		<td valign="top" colspan="2" background="images/midbg2.gif" class="main" align="center" bgcolor="#efefef">
		
		
	
			<!-- Inner bottom table start -->
				<table width="900" border="0" bgcolor="#ffffff" cellspacing="5" cellpadding="0" align="center" class="main">
					<tr>
						<td valign="top" bgcolor="#ffffff">
							<a href="services.htm"><img src="images/homeservice.jpg" width="290" height="200" border="0" alt="Service contracts by Lite-Trol Service Co"></a>
						</td>
						<td valign="top" bgcolor="#ffffff">
							<a href="technical.htm"><img src="images/hometechnical.jpg" width="290" height="200" border="0" alt="Equipment Technical Information"></a>
						</td>
						<td valign="top" bgcolor="#ffffff">
							<a href="about.htm"><img src="images/homecontact.jpg" width="290" height="200" border="0" alt="About Lite-Trol Service Co."></a>
						</td>
					</tr>
				</table>
			<!-- Inner bottom table end -->
	
		</td>
	<!-- ======== bottom content section end ============= ---->
	</tr>
	
	<tr>
		<td valign="top" bgcolor="#dddddd" colspan="2">	
		<img src="images/bottombg.gif" width="960" height="49" border="0" alt=""></td>
	</tr>

	<tr>
		<td valign="top" bgcolor="#dedede" colspan="2">	
		
				<!-- address table start -->
						<table width="940" cellpadding="3" align="center" class="footer">	
							<tr>
								<td width="300" valign="top">
										Lite-Trol Service Co., Inc.<br>
										485 W. John Street <br>
										Hicksville, NY  11801 
								</td>		
								<td width="340" valign="top">
									<div align="center">
										Copyright &copy;  Lite-Trol Service Co., Inc. <br>
										Website by <a href="http://www.lake-effects.net">Lake Effects Web </a><a href="http://www.lakewebsites.com">Design</a>
									</div>		
								</td>	
								<td width="300" valign="top">
									<div align="right">
										Phone: 1-800-548-3876<br>
										Fax: 516-681-7288<br>
										E-mail:<a href="mailto:litetrol@litetrol.com">litetrol@litetrol.com</a>
									</div>	
								</td>	
							</tr>
						</table> 
				<!-- address table end -->
	
</td></tr></table> <!-- inside table end -->

</td></tr></table>   <!-- border table end -->

</BODY>
</HTML>
