<!DOCTYPE HTML>
<div class="container">
	<!-- Left Section-->
	<div class="left-element">
		<img src="/static/images/CrewTwentyFour.jpg" width="1000" height="396">
 		<div class="centered-element" style="right:170px; top:20px;">
			<a href="/">
				<img src="/static/images/TownOfHempsteadLogo.ico" width="170" height="150" alt="Logo"/>
			</a>
		</div>
	</div>
<!-- Right Section -->
	<div class="right-element">
		<h2>Contact Information</h2>
		<p>
			Chief Anthony Romano 
			<br>
			
			Town Park at Point Lookouk
		</p>
		<dl>
			<dt>Office Number:</dt> 
			<p> 516-801-5699 </p>
		</dl>
		<h2>Hours of Operation</h2>
		May 26 through Septmeber 20th
		<br>
		10am - 6pm
		<h2>Coverage Area</h2>
		From Jones Inlet to Eastern
		Long Beach.
		<h2>Tides Today</h2>
		The Low Tide for Today is 8:06 AM at 0.61 ft
		<br>
		While the High Tide for today 2:04 PM at 3.29 ft
	</div>
</div>
<!-- Navigation Tabs -->
<div id='myTabs' class="w3-bar">
	<a href="/" class='w3-bar-item w3-hide-small w3-hover-blue w3-button tabTitle tabHome'><span>Home</span></a>
	<a href="/templates/page1.php" class='w3-bar-item w3-hide-small w3-button tabTitle tabPage1'>Town of Hempstead's Beaches</a>
	<a href="/templates/page2.php" class='w3-bar-item w3-hide-small w3-button tabTitle tabPage2'>Employment</a>
	<a href="/templates/pdfs.php" class='w3-bar-item w3-hide-small w3-button tabTitle tabPDFs'>PDFs</a>
	<a href="/templates/reports.php" class='w3-bar-item w3-hide-small w3-button tabTitle tabReports'>Reports</a>
	<a href="/templates/login.php" class='w3-bar-item w3-hide-small w3-button tabTitle tabLogin'>Staff Login</a>
</div>
