<!doctype HTML>
<div class="container">
	<div class="centered-element">
		<a href=".">
				<img src="static/images/TownOfHempsteadLogo.ico" width="300" height="200" alt="Logo"/>
		</a>
	</div>
		<a href="templates/index.php" title="Town of Hempstead Ocean Rescue">
			<span>Town of Hempstead Ocean Rescue</span>
		</a>
	</h1>
</div>
<div id='myTabs' class="w3-bar">
	<a href="templates/index.php" class='w3-bar-item w3-hide-small w3-button tabTitle tabHome'>Home</a>
	<a href="templates/page1.php" class='w3-bar-item w3-hide-small w3-button tabTitle tabPage1'>Page1</a>
	<a href="templates/page2.php" class='w3-bar-item w3-hide-small w3-button tabTitle tabPage2'>Page2</a>
</div>
